<!DOCTYPE html>
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>globetrotter</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />


	    <!-- Bootstrap core CSS -->
	    <link href="css/bootstrap.min.css" rel="stylesheet">
	    <link href="css/bootstrap.css" rel="stylesheet">
	    <link rel="stylesheet" href="css/main1.css">
        <link href='http://fonts.googleapis.com/css?family=Fanwood+Text|Niconne|Satisfy|Bad+Script|Source+Sans+Pro|' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/packages.css">

        <script src="js/modernizr-2.7.1.min.js"></script>
        <style type="text/css">
			body {
				font-family: 'Open Sans', sans-serif;
			}
		</style>
    </head>
    <body class="loading">
    
   		
   			<!-- Fixed navbar -->
			<div class="navbar navbar-default navbar-fixed-top" role="navigation">
			    <div class="container">
			        <div class="navbar-header">
			            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			                <span class="sr-only">Toggle navigation</span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			            </button>

			      		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      		<a class="navbar-brand" href="/"><img  id="logoimage" src="img/globeFINAL_Color.png"/></a>

				     	<ul class="nav navbar-nav" id="navnav">
					        <li><a href="/searchpage">Explore Map</a></li>
					        <li><a href="/packages">Packages</a></li>
					        <li  class="active"><a href="/contact">Contact</a></li>
				      	</ul>
			        	</div>
			    	</div>
				</div>
			</div>

	     	<main>
				<div class="container contactFormAll">
				<div class="col-md-6 conInfo">
					<h3>Contact</h3>
				    <p> Have suggestions of places we should add to our map? Have ideas on how we can make this site better? <br>Please, use the form to tell us! </p>
				</div>
				<div class="conForm">
					<form class="form-horizontal" role="form">
						  <div class="form-group">
						    <label for="inputName3" class="col-sm-2 control-label">Name</label>
						    <div class="col-sm-10">
						      <input type="email" class="form-control" id="inputName3" placeholder="First and Last">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
						    <div class="col-sm-10">
						      <input type="name" class="form-control" id="inputEmail3" placeholder="Email">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputText3" class="col-sm-2 control-label">Message</label>
						    <div class="col-sm-10">
						      <textarea class="form-control" rows="10"></textarea>
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-sm-offset-2 col-sm-10">
						      <button type="submit" class="btn btn-default">Submit</button>
						    </div>
						  </div>
						</form>
					</div>
				</div>

  
		    
		</main>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/waypoints.min.js"></script>
		<script src="js/jquery.wheelzoom.js"></script>
        <script src="js/imagesloaded.js"></script>
        <script src="js/skrollr.js"></script>
        <!--[if lt IE 9]>
		<script type="text/javascript" src="js/skrollr.ie.min.js"></script>
		<![endif]-->
        <script src="js/_main.js"></script>

    </body>
</html>
