<!DOCTYPE html>
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Globetrotter</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />


	    <!-- Bootstrap core CSS -->
	    <link href="css/bootstrap.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Fanwood+Text|Niconne|Satisfy|Bad+Script|Source+Sans+Pro|' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/packages.css">
        <link rel="stylesheet" href="css/main1.css">
        <script src="js/modernizr-2.7.1.min.js"></script>
        <style type="text/css">
			body {
				font-family: 'Open Sans', sans-serif;
			}
		</style>
    </head>
    <body class="loading">
    
   		
   			<!-- Fixed navbar -->
			<div class="navbar navbar-default navbar-fixed-top" role="navigation">
			    <div class="container">
			        <div class="navbar-header">
			            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			                <span class="sr-only">Toggle navigation</span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			            </button>

			      		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      		<a class="navbar-brand" href="/"><img id="logoimage" src="img/globeFINAL_Color.png"/></a>

				     	<ul class="nav navbar-nav" id="navnav">
					        <li><a href="/searchpage">Explore Map</a></li>
					        <li><a href="/packages">Packages</a></li>
					        <li><a href="/contact">Contact</a></li>
				      	</ul>
			        	</div>
			    	</div>
				</div>
			</div>

	     	<main>

	        	<div class="bcg-pack" >
				    	<div class="background-pack" >
						<p class="pack_font"> Here are some popular trip packages to get you started! </p>

						<div class="container row">
       						<div class="col-md-4">
									<img id="d1" src="img/B_orlando.jpg" width="300" height="240" />
										<div class="contenthover">
	    									<h3>The Family Trip</h3>
	    									<p>Orlando, Florida: Stay at Wyndham Lake Buena Vista Resort, spend a day at Disney World Park, dine at the best complimentary restaurants, spend a day at Typhoon Lagoon Water Park</p>
	    									<p><a href="#" class="mybutton">More details</a></p>
										</div>		
							</div>

							<div class="col-md-4">
									<img id="d2" src="img/B_caribbean.jpg" width="300" height="240" />
										<div class="contenthover">
    									<h3>The Caribbean Getaway</h3>
    									<p>Destinations: Colon, Panama -- Cartagena, Columbia -- Kralendijk, Bonaire -- Orangjestad, Aruba -- Willemstad, Curacao  </p>
    									<p><a href="#" class="mybutton">More details</a></p>
										</div>	
							</div>

							<div class="col-md-4">
									<img id="d3" src="img/F_frenchmus.jpg" width="300" height="240" />
										<div class="contenthover">
    									<h3>The European Grand Tour</h3>
    									<p> Destinations: London, United Kingdom -- Amsterdam, Netherlands -- Paris, France -- Vienna, Austria -- Budapest, Hungary -- Prague -- Czech Republic </p>
    									<p><a href="#" class="mybutton">More details</a></p>
										</div>	
							</div>
						</div>
						<br>
						<div class="container row">
							<div class="col-md-4">
									<img id="d4" src="img/G_katikies.jpg" width="300" height="240" />
										<div class="contenthover">
	    									<h3>The Mediterranean Journey</h3>
	    									<p>Destinations: Mykonos, Greece -- Santorini, Greece -- Manarola, Italy -- Positano, Italy -- Izmir, Turkey --
	    										Majorca, Spain -- Dubrovnik, Croatia</p>
	    									<p><a href="#" class="mybutton">More details</a></p>
										</div>	
							</div>

							<div class="col-md-4">
									<img id="d5" src="img/B_vietnam.jpg" width="300" height="240" />
										<div class="contenthover">
	    									<h3>The Southeast Asian Adventure</h3>
	    									<p> Destinations: Phnom Penh, Cambodia -- Hà Nội, Vietnam -- Bangkok, Thailand -- Phuket, Thailand -- Ho Chi Minh City, Vietnam -- Siem Reap, Cambodia </p>
	    									<p><a href="#" class="mybutton">More details</a></p>
										</div>	
							</div>

							<div class="col-md-4">
									<img id="d6" src="img/B_patagonia.jpg" width="300" height="240" />
										<div class="contenthover">
	    									<h3>The South American Trip</h3>
	    									<p> Destinations: Patagonia, Argentina -- Santiago, Chile -- Buenos Aires, Argentina -- Rio de Janeiro, Brazil -- Montevideo, Uruguay -- Manaus, Brazil </p>
	    									<p><a href="#" class="mybutton">More details</a></p>
										</div>	
							</div>
						</div>
					</div>
				</div>
			</main>

        <script src="js/jquery-1.10.2.js"></script>
        <script src="js/contenthover.js"></script>
        <script>
        $(document).ready(function(){
    	$('#d1').contenthover({
    	overlay_background:'#000',
	   	overlay_opacity:0.8
		});

    	$('#d2').contenthover({
    	overlay_background:'#000',
	   	overlay_opacity:0.8
		});
		
    	$('#d3').contenthover({
    	overlay_background:'#000',
	   	overlay_opacity:0.8
		});
		
    	$('#d4').contenthover({
    	overlay_background:'#000',
	   	overlay_opacity:0.8
		});
		
    	$('#d5').contenthover({
    	overlay_background:'#000',
	   	overlay_opacity:0.8
		});
		
    	$('#d6').contenthover({
    	overlay_background:'#000',
	   	overlay_opacity:0.8
		});
    	});
		</script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/waypoints.min.js"></script>
		<script src="js/jquery.wheelzoom.js"></script>
        <script src="js/imagesloaded.js"></script>
        <script src="js/skrollr.js"></script>
        <!--[if lt IE 9]>
		<script type="text/javascript" src="js/skrollr.ie.min.js"></script>
		<![endif]-->
        <script src="js/_main.js"></script>
        
   		
    </body>
</html>
